
#grid-h1{  
  width:40em;
  height:45em;
  display: grid;
  grid-template-columns: 15em 20em 5em;
  grid-template-rows: 5em 30em 10em;
  }

 #grid-h2{
  background-color:lightgreen;
  display: grid;
  grid-template-columns: 5em 10em;
  /* grid-template-rows: 3em 3em 3em 3em 15em; */
  grid-template-rows: repeat(3 3em);
  grid-row-start:1;
  grid-row-end:3;
  
} 

#flex-h2a{
  grid-row: 1/ -1;
  grid-column: 1/ 2;
  
  background-color:limegreen;
  display: flex;
  flex-direction: column;
}

.h2a-item{
  /* flex-grow: 1; */
  height:3em;
  width:100%;
}

#grid-h2b{
}

#grid-h2b-item{

}

.h2a-item{
  /* height:3em; */
}