
#grid-d{
  background-color:lightgreen;
  width:8em;
  height:800px;
  display: grid;
  grid-template-columns: 3em 6em;
  // grid-template-rows: repeat(minmax(1fr, 3fr));
  /* grid-template-rows: 100px 0.1fr 0.1fr; */
  grid-template-rows: 3em 3em 3em;
  
}

#grid-d1{

  column-start:1;
  column-span:1;
}
#grid-d2{
  display:float;
  row-start:2;
  column-start:1;
  column-span:1;

}
#grid-d3{
}
#grid-d4{

}
#grid-d5{

}
#grid-d6{

}
#grid-d7{

}
#grid-d8{

}
#grid-d9{

}
#grid-d10{

}
#grid-d11{

}
#grid-d12{

}