
#grid-g1{  
  width:40em;
  height:45em;
  display: grid;
  grid-template-columns: 15em 20em 5em;
  grid-template-rows: 5em 30em 10em;
  }

 #grid-g2{
  background-color:lightgreen;
  display: grid;
  grid-template-columns: 5em 10em;
  /* grid-template-rows: 3em 3em 3em 3em 15em; */
  grid-template-rows: repeat(3 3em);
  grid-row-start:1;
  grid-row-end:3;
  
} 

#grid-g2a{
  grid-row: 1/ -1;
  grid-column: 1/ 2;
  
  background-color:limegreen;
  display: grid;
  grid-template-rows: repeat(3 3em);
  
}

.g2a-item{
  
}

#grid-g2b{
  grid-row: 1/ -1;
  grid-column: 2/ -1;
  s
}

#grid-g2b-item{

}

.g2a-item{
  /* height:3em; */
}